[submodule "hardware/Adafruit_CircuitPython_CharLCD"]
	path = hardware/Adafruit_CircuitPython_CharLCD
	url = https://github.com/adafruit/Adafruit_CircuitPython_CharLCD.git
[submodule "hardware/Adafruit_CircuitPython_MCP230xx"]
	path = hardware/Adafruit_CircuitPython_MCP230xx
	url = https://github.com/adafruit/Adafruit_CircuitPython_MCP230xx.git
